:root {
    --color-outline:#0099ff
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.ml {
    margin-left: 0.5rem;
}

tbody >
tr.c-table__row:hover {
    filter: brightness(85%) !important;
    background-color: white;
    cursor: pointer;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.action-buttons i.action {
    font-size: 1rem;
    color: darkgray;
    cursor: pointer;
}

.action-buttons i.action:hover {
    color: black;
}

.action-buttons i.action.busy {
    cursor: not-allowed;
    animation: pulse 1s infinite;
}

.o-modal {
    max-height: 80vh;
}

.c-tabs__tab[role=tabpanel] {
    position: relative;
    max-height: 500px;
    overflow: auto;
}

#address-button {
    cursor: pointer;
}

#detail-tabs .contract-code {
    font-family: monospace;
    color: darkgray;
    font-size: 16px;
    word-break: break-all;
    max-height: 400px;
    overflow: auto;
}

#detail-tabs .contract-data__wrapper {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
}

#detail-tabs .contract-data__raw {
    width: 80%;
    margin-right: 8px;
}

#detail-tabs .contract-data__raw > div {
    font-family: monospace;
    color: darkgray;
    font-size: 16px;
    word-break: unset;
    max-height: 400px;
    overflow: auto;
}

#detail-tabs .contract-data__raw span:hover {
    filter: brightness(85%) !important;
    background-color: white;
    cursor: pointer;
}

#detail-tabs .contract-code {
    overflow: auto;
}

#detail-tabs .token {
    padding: 4px;
    display: inline-block;
}



@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1.0;
    }

    50% {
        transform: scale(0.98);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1.0;
    }
}

#header {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    background: #0099ff;
    color: white;
    width: 100%;
    z-index: 10;
}

#root .o-container {
    margin-top: 64px;
}

#footer {
    padding: 0.5rem;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
}
